<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h3> Welcome to Smart Programming 1 </h3>
	
	<h3 th:text="${'Welcome to Smart Programming 2'}"> </h3>
	
	<h3> <span th:text="${'Welcome to Smart Programming 3'}"></span> </h3>
	
	<!--
	<h3> <span th:text="${Welcome to Smart Programming 4}"></span> </h3>
	-->
	
	<h3> <span th:text="${100}"></span> </h3>
	
	<h3> <span th:text="${true}"></span> </h3>

</body>
</html>